<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block
      th:replace="~{ fragments/header :: generic-head(title='Aggiungi Pizza') }"
    ></th:block>
  </head>
  <body>
    <th:block th:replace="~{ fragments/header :: generic-header }"></th:block>
    <main>
      <th:block
        th:replace="~{fragments/formFood :: form-food(@{'/pizzas/create'}) }"
      ></th:block>
    </main>
    <th:block th:replace="~{ fragments/header ::bootstrapJS }"></th:block>
  </body>
</html>
